body {
	background: #030914;
	color: #fff;
	height: 100%;
}

.fade {
	opacity: 0;
}

.control {
	color: #fff;
	font-size: 2.0em;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.control:hover {
	color: #badbff;
	cursor: pointer;
}

.cover {
	padding: 32.0vh 1.5em 0;
}

.cover-containter {
	max-width: 42em;
}

.lead {
	margin: 2.0em 1.5em;
}

.lead i {
	margin: 4.0rem 2.0rem;
	float: center;
}

.footer {
    position: absolute;
    margin-top: 2.0rem;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.fade {
	opacity: 0;  
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	 
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	 
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}

@-webkit-keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@-moz-keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

@keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; } 
}

#logo {
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

#logo:hover {
	color: #badbff;
}